In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
df = pd.read_csv('final_train_dataset.csv')

In [39]:
df

,MSSubClass_150,MSSubClass_160,MSSubClass_180,MSSubClass_190,MSSubClass_20,MSSubClass_30,MSSubClass_40,MSSubClass_45,MSSubClass_50,MSSubClass_60,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,0,0,0,0,0,0,0,0,0,1,...,0,61,0,0,0,0,0,2,2008,208500
1,0,0,0,0,1,0,0,0,0,0,...,298,0,0,0,0,0,0,5,2007,181500
2,0,0,0,0,0,0,0,0,0,1,...,0,42,0,0,0,0,0,9,2008,223500
3,0,0,0,0,0,0,0,0,0,0,...,0,35,272,0,0,0,0,2,2006,140000
4,0,0,0,0,0,0,0,0,0,1,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,0,0,0,0,0,0,0,0,0,1,...,0,40,0,0,0,0,0,8,2007,175000
1454,0,0,0,0,1,0,0,0,0,0,...,349,0,0,0,0,0,0,2,2010,210000
1455,0,0,0,0,0,0,0,0,0,0,...,0,60,0,0,0,0,2500,5,2010,266500
1456,0,0,0,0,1,0,0,0,0,0,...,366,0,112,0,0,0,0,4,2010,142125
1457,0,0,0,0,1,0,0,0,0,0,...,736,68,0,0,0,0,0,6,2008,147500

In [40]:
df

,MSSubClass_150,MSSubClass_160,MSSubClass_180,MSSubClass_190,MSSubClass_20,MSSubClass_30,MSSubClass_40,MSSubClass_45,MSSubClass_50,MSSubClass_60,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,0,0,0,0,0,0,0,0,0,1,...,0,61,0,0,0,0,0,2,2008,208500
1,0,0,0,0,1,0,0,0,0,0,...,298,0,0,0,0,0,0,5,2007,181500
2,0,0,0,0,0,0,0,0,0,1,...,0,42,0,0,0,0,0,9,2008,223500
3,0,0,0,0,0,0,0,0,0,0,...,0,35,272,0,0,0,0,2,2006,140000
4,0,0,0,0,0,0,0,0,0,1,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,0,0,0,0,0,0,0,0,0,1,...,0,40,0,0,0,0,0,8,2007,175000
1454,0,0,0,0,1,0,0,0,0,0,...,349,0,0,0,0,0,0,2,2010,210000
1455,0,0,0,0,0,0,0,0,0,0,...,0,60,0,0,0,0,2500,5,2010,266500
1456,0,0,0,0,1,0,0,0,0,0,...,366,0,112,0,0,0,0,4,2010,142125
1457,0,0,0,0,1,0,0,0,0,0,...,736,68,0,0,0,0,0,6,2008,147500

In [41]:
X = df.drop('SalePrice', axis = 1)

In [42]:
y = df['SalePrice']

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=101)

In [45]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [46]:
scaler.fit(X_train)

StandardScaler()

In [47]:
X_train = scaler.transform(X_train)

In [48]:
X_test = scaler.transform(X_test)

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
linear_model = LinearRegression()

In [51]:
linear_model.fit(X_train, y_train)

LinearRegression()

In [52]:
linear_y_test_pred = linear_model.predict(X_test)

In [53]:
from sklearn.metrics import mean_squared_error

In [54]:
np.sqrt(mean_squared_error(y_test, linear_y_test_pred))

48996058364.26102

In [55]:
from sklearn.linear_model import RidgeCV

In [56]:
ridge_cv_model = RidgeCV(alphas=(0.1, 1.0, 10.0, 100), scoring='neg_mean_absolute_error', cv=5)

In [57]:
ridge_cv_model.fit(X_train, y_train)

RidgeCV(alphas=array([  0.1,   1. ,  10. , 100. ]), cv=5,
        scoring='neg_mean_absolute_error')

In [58]:
ridge_cv_model.alpha_

100.0

In [59]:
ridge_cv_y_pred = ridge_cv_model.predict(X_test)

In [60]:
np.sqrt(mean_squared_error(y_test, ridge_cv_y_pred))

25522.294656454007

In [61]:
from sklearn.linear_model import LassoCV

In [62]:
lasso_cv_model = LassoCV(eps=0.001, n_alphas=100,cv =10 )

In [63]:
lasso_cv_model.fit(X_train, y_train)

LassoCV(cv=10)

In [64]:
lasso_cv_model.alpha_

297.8478086387534

In [65]:
lasso_cv_y_pred = lasso_cv_model.predict(X_test)

In [66]:
np.sqrt(mean_squared_error(y_test, lasso_cv_y_pred))

25225.629920579202

In [67]:
from sklearn.linear_model import ElasticNetCV

In [68]:
elastic_cv_model  = ElasticNetCV(l1_ratio=[.1, .5, .7,.9, .95, .99, 1], alphas=(0.1, 1.0, 10.0, 100, 500))

In [69]:
elastic_cv_model.fit(X_train, y_train)

D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 16124614423.039032, tolerance: 664839084.5318397
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 14630819185.128967, tolerance: 666165315.8509018
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 66680566316.719604, tolerance: 698027949.6890038
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 45683977596.34418, tolerance: 665432314.6533618
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 22910098824.933716, tolerance: 705391621.0035595
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 104834790470.84167, tolerance: 664839084.5318397
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 159249651410.76517, tolerance: 666165315.8509018
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 180128277887.8803, tolerance: 698027949.6890038
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 129021434554.0756, tolerance: 665432314.6533618
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 168330739980.3784, tolerance: 705391621.0035595
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 151816988405.27686, tolerance: 664839084.5318397
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 174260828035.761, tolerance: 666165315.8509018
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 907661335.9573975, tolerance: 698027949.6890038
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 196730240499.6702, tolerance: 698027949.6890038
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 971495960.2520142, tolerance: 665432314.6533618
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 164202607315.93094, tolerance: 665432314.6533618
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 186612323864.6306, tolerance: 705391621.0035595
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 121757952338.3793, tolerance: 664839084.5318397
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 156296169495.94098, tolerance: 664839084.5318397
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 20079349466.249664, tolerance: 666165315.8509018
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 130840056741.39743, tolerance: 666165315.8509018
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 168684641495.26154, tolerance: 666165315.8509018
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 20414157702.885254, tolerance: 698027949.6890038
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 93505955626.81558, tolerance: 698027949.6890038
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 184029611450.51822, tolerance: 698027949.6890038
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1460551517.105957, tolerance: 665432314.6533618
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 70898089278.80548, tolerance: 665432314.6533618
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 149312123142.1423, tolerance: 665432314.6533618
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 65308197834.25845, tolerance: 705391621.0035595
  model = cd_fast.enet_coordinate_descent_gram(
D:\Anaconda\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:526: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 133793791539.68588, tolerance: 705391621.0035595
  model = cd_fast.enet_coordinate_descent_gram(

ElasticNetCV(alphas=(0.1, 1.0, 10.0, 100, 500),
             l1_ratio=[0.1, 0.5, 0.7, 0.9, 0.95, 0.99, 1])

In [70]:
elastic_cv_model.alpha_

500.0

In [71]:
elastic_cv_y_pred = elastic_cv_model.predict(X_test)

In [72]:
np.sqrt(mean_squared_error(y_test, elastic_cv_y_pred))

25198.426683740676

In [73]:
#np.sqrt(mean_squared_error(y, elastic_cv_model.predict(X)))

In [74]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import ElasticNet

In [75]:
base_elastic_model = ElasticNet()

In [141]:
param_grid = {'alpha':[352, 353, 354, 355, 356],
              'l1_ratio':[1]}

In [142]:
grid_model = GridSearchCV(base_elastic_model, param_grid=param_grid, 
                          scoring = 'neg_mean_squared_error', cv = 5, verbose=1 )

In [143]:
grid_model.fit(X_train, y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [352, 353, 354, 355, 356], 'l1_ratio': [1]},
             scoring='neg_mean_squared_error', verbose=1)

In [144]:
grid_model.best_estimator_

ElasticNet(alpha=354, l1_ratio=1)

In [145]:
grid_cv_y_pred = grid_model.predict(X_test)

In [146]:
np.sqrt(mean_squared_error(y_test, grid_cv_y_pred))

25203.930628496302

In [147]:
X = scaler.fit_transform(X)

In [148]:
np.sqrt(mean_squared_error(y, grid_model.predict(X)))

20861.23997626029

In [149]:
final_base_model = ElasticNet()

In [150]:
final_grid_model = GridSearchCV(final_base_model, param_grid=param_grid, cv = 5, 
                                verbose = 1, scoring ='neg_mean_squared_error')

In [151]:
final_grid_model.fit(X,y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [352, 353, 354, 355, 356], 'l1_ratio': [1]},
             scoring='neg_mean_squared_error', verbose=1)

In [152]:
test_data = pd.read_csv('final_test_dataset.csv')

In [153]:
test_data.head()

,MSSubClass_150,MSSubClass_160,MSSubClass_180,MSSubClass_190,MSSubClass_20,MSSubClass_30,MSSubClass_40,MSSubClass_45,MSSubClass_50,MSSubClass_60,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,0,0,0,0,1,0,0,0,0,0,...,730.0,140,0,0,0,120,0,0,6,2010
1,0,0,0,0,1,0,0,0,0,0,...,312.0,393,36,0,0,0,0,12500,6,2010
2,0,0,0,0,0,0,0,0,0,1,...,482.0,212,34,0,0,0,0,0,3,2010
3,0,0,0,0,0,0,0,0,0,1,...,470.0,360,36,0,0,0,0,0,6,2010
4,0,0,0,0,0,0,0,0,0,0,...,506.0,0,82,0,0,144,0,0,1,2010

In [155]:
final_pred_2 = final_grid_model.predict(test_data)

In [156]:
final_pred_2

array([1.23968894e+08, 1.57352903e+08, 1.60642582e+08, ...,
       1.85171989e+08, 1.17963952e+08, 1.51793053e+08])

In [157]:
list_df = pd.read_csv('test.csv')

In [158]:
list_id = list_df['Id']

In [159]:
list_id

0       1461
1       1462
2       1463
3       1464
4       1465
        ...
1454    2915
1455    2916
1456    2917
1457    2918
1458    2919
Name: Id, Length: 1459, dtype: int64

In [160]:
sub = pd.read_csv('sample_submission.csv')

In [161]:
sub

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]

In [162]:
submission_df_2 = pd.DataFrame(data = {'Id': list_id, 'SalePrice': final_pred_2})

In [164]:
submission_df_2.to_csv('ames_data_final_submission_2.csv', index=False)

In [168]:
d = pd.read_csv('ames_data_final_submission_2.csv')

In [169]:
d

        Id     SalePrice
0     1461  1.239689e+08
1     1462  1.573529e+08
2     1463  1.606426e+08
3     1464  1.391466e+08
4     1465  1.035471e+08
...    ...           ...
1454  2915  7.286266e+07
1455  2916  7.525141e+07
1456  2917  1.851720e+08
1457  2918  1.179640e+08
1458  2919  1.517931e+08

[1459 rows x 2 columns]